<% if request.errors.any? %>
  <div class="errors">
    <ul>
      <% request.errors.each do |error| %>
        <li>
          <%= error.full_message.capitalize %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="waiting-list--form">
  <%= form_with model: request do |f| %>

    <%= f.label :name %> </br>
    <%= f.text_field :name %> </br>

    <%= f.label :email %> </br>
    <%= f.email_field :email %> </br>

    <%= f.label :phone_number %> </br>
    <%= f.telephone_field :phone_number %> </br>

    <%= f.label :biography %> </br>
    <%= f.text_area :biography %> </br>

    <%= f.submit %>
  <% end %>
</div>
